/*
 * global site styles
 */
html, body {
  margin: 0;
  padding: 0;
}

hp-presentation>hp-slide {
  display: none;
}

hp-presentation>hp-slide.active{
  display: inline-block;
}

hp-content {
  display: flex;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
hp-title {
  font-size: 10vmin;
  text-align: center;
  display: block;
}

hp-presentation {
  display: block;
  background-color: #fff;

  width: 80vmin;
  height: 80vmin;

  border: .2em solid #000;
  border-radius: 1em;
}

hp-slide {
  display: inline-block;
  background-color: #fff;

  width: 80%;
  height: 80%;

  margin: 10%;
}

hp-chooser{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height:30vmin;
  width: 100%;
}
hp-chooser * {
  max-width: 20%;

  margin: 5% 2.5%;
}

hp-chooser.chosen>*.chosen{
 max-width: 30%;
 animation-name: chosen;
 animation-duration: .5s;
 animation-timing-function: ease;
}

@keyframes chosen {
from {
  max-width: 20%;
}
to{
  max-width: 30%;
}
}

hp-chooser.chosen>*:not(.chosen) {
  max-width: 15%;
  animation-name: unchosen;
  animation-duration: .5s;
  opacity: .25;
  animation-timing-function: ease-out;
}


@keyframes unchosen {
  from {
    max-width: 20%;
    opacity: 1;
  }
  to{
    max-width: 15%;
    opacity: .25;
  }
  }