/*
 * global site styles
 */
html, body {
  margin: 0;
  padding: 0;
}

hp-content {
  display: flex;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
hp-title {
  font-size: 10vmin;
  text-align: center;
  display: block;
}

hp-presentation {
  display: block;
  background-color: #fff;

  width: 80vmin;
  height: 80vmin;

  border: .2em solid #000;
  border-radius: 1em;
}

hp-slide {
  display: inline-block;
  background-color: #fff;

  width: 80%;
  height: 80%;

  margin: 10%;
}

hp-chooser{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
hp-chooser * {
  max-width: 20%;
  margin: 5% 2.5%;
}